@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Pretendard, -apple-system, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Theme Color */
:root {
  /* Your default theme */
  --background: #e2e2e2;
  --foreground: #242527;
}

[data-theme="dark"] {
  --background: #242527;
  --foreground: #e2e2e2;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  src: url("/styles/font/Pretendard-Black.woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  src: url("/styles/font/Pretendard-ExtraBold.woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("/styles/font/Pretendard-Bold.woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("/styles/font/Pretendard-SemiBold.woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("/styles/font/Pretendard-Medium.woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("/styles/font/Pretendard-Regular.woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url("/styles/font/Pretendard-Thin.woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  src: url("/styles/font/Pretendard-Light.woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  src: url("/styles/font/Pretendard-ExtraLight.woff");
}

pre {
  background: #2e3440;
  padding: 1.2rem;
  border-radius: 1rem;
  overflow: auto;
}

.prose :where(p):not(:where([class~="not-prose"] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  line-height: 2;
}

.prose :where(a):not(:where([class~="not-prose"] *)) {
  color: var(--accent2);
  text-decoration: none;
  font-weight: 500;
}

.prose :where(blockquote):not(:where([class~="not-prose"] *)) {
  font-weight: 500;
  font-style: normal;
  color: var(--tw-prose-quotes);
  background-color: var(--hover-base);
  border-radius: 8px;
  padding: 1rem;

  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  color: var(--secondary3);
  background-color: var(--card-border);
  border-radius: 4px;
  font-weight: 600;
  padding: 0.15rem;
}

code[class*="language-"],
pre[class*="language-"] {
  width: fit-content;
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: break-word;
  line-height: 1.3;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #383838;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #8292a2;
}

.token.punctuation {
  color: #f8f8f2;
}

.token.namespace {
  opacity: 0.7;
}

.token.constant,
.token.deleted,
.token.property,
.token.symbol,
.token.tag {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: #a6e22e;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.class-name,
.token.function {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.important,
.token.regex {
  color: #fd971f;
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
/* Code Blocks


/*!
  Theme: GitHub Dark
  Description: Dark theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15
  Outdated base version: https://github.com/primer/github-syntax-dark
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: #c9d1d9;
  background: #0d1117;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #52c7eb;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #eb64b9;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: #40d592;
}

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #a5d6ff;
}

.hljs-built_in,
.hljs-symbol {
  color: #ffa657;
}

.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #8b949e;
}

.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: #4082c4;
}

.hljs-subst {
  color: #c9d1d9;
}

.hljs-section {
  color: #1f6feb;
  font-weight: 700;
}

.hljs-bullet {
  color: #f2cc60;
}

.hljs-emphasis {
  color: #c9d1d9;
  font-style: italic;
}

.hljs-strong {
  color: #c9d1d9;
  font-weight: 700;
}

.hljs-addition {
  color: #aff5b4;
  background-color: #033a16;
}

.hljs-deletion {
  color: #ffdcd7;
  background-color: #67060c;
}

/*Colors*/

body {
  --bg: #ffffff;
  --accent: #3492ca;
  --primary: #013a3d;
  --accent-border: #2a75e950;
  --shadow: #2c3e5015;
  --text-base: #23282d;
  --text-base-20: #2c3e5020;
  --text-base-40: #2c3e5040;
  --text-base-70: #23282da8;
  --icon-color: #2c3e5070;
  --border-color: #00000016;
  --hover-base: #edf1f3;
  --header-bg: #f9fafb50;
  --toggle-bg: #0101010a;
  --toggle-icon: var(--text-base-70);
  --toggle-border: #dfdfdf4d;
  --code-block: #ebeced;
  --card-bg: #fff;
  --card-border: #ececf3;
  --mdx-border: #dfe2e5;
  --mdx-icon-color: #2c3e5070;
  --mdx-icon-bg: #dfdfdf4d;
  --accent2: #3492ca;
  --primary2: #8abed4;
  --secondary2: #fca19f;
  --secondary3: #ec6493;
  --secondary2-hover: #fdc4c3;
  --text_base: #242527;
  --text_base_20: #2c3e5020;
  --text_base_40: #2c3e5040;
  --text_base_70: #2c3e5070;
}
